.TableContainer{  
    overflow: auto;
    height: 500px;     
}
.Table{
   
   table-layout: fixed;
}

.DeleteButton{
    width: 50px;
    background-color: red!important;
    color: white!important;
    border: solid 1px;
}
.EditButton{
    cursor: pointer;
}